@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

/* Background Gradient */
.bg-dark-gradient {
  background: radial-gradient(
    circle,
    rgba(63, 63, 63, 1) 0%,
    rgba(35, 35, 35, 1) 60%,
    rgba(18, 18, 18, 1) 100%
  );
  color: white;
  font-family: "Inter", sans-serif;
  position: relative;
  overflow: hidden;
}

.bg-light-gradient {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(245, 245, 245, 1) 60%,
    rgba(230, 230, 230, 1) 100%
  );
  color: black;
  font-family: "Inter", sans-serif;
  position: relative;
  overflow: hidden;
}

/* Moving Background Light Effect */
.bg-dark-gradient::before,
.bg-light-gradient::before {
  content: "";
  position: absolute;
  top: -100px;
  left: -100px;
  width: 300%;
  height: 300%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.1),
    transparent 70%
  );
  filter: blur(200px);
  animation: animateBackground 20s linear infinite;
  transform-origin: center;
  z-index: -1;
}

/* Background Animation Keyframes */
@keyframes animateBackground {
  0% {
    transform: trangray(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: trangray(-50%, -50%) rotate(360deg);
  }
}

/* Custom Component for Glowing Shadows */
@layer components {
  .shadow-glow {
    box-shadow: 0 0 20px rgba(100, 102, 241, 0.5),
      0 0 40px rgba(100, 102, 241, 0.3), 0 0 60px rgba(100, 102, 241, 0.2);
  }

  .shadow-glow:hover {
    box-shadow: 0 0 40px rgba(100, 102, 241, 0.7),
      0 0 60px rgba(100, 102, 241, 0.5), 0 0 80px rgba(100, 102, 241, 0.3);
  }
}

@keyframes slide-in-from-top-full {
  0% {
    transform: trangrayY(-100%);
    opacity: 0;
  }
  100% {
    transform: trangrayY(0);
    opacity: 1;
  }
}

@keyframes slide-out-to-right-full {
  0% {
    transform: trangrayX(0);
    opacity: 1;
  }
  100% {
    transform: trangrayX(100%);
    opacity: 0;
  }
}

@keyframes fade-out-80 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}

.animate-in {
  animation: slide-in-from-top-full 0.3s ease-in-out forwards;
}

.animate-out {
  animation: slide-out-to-right-full 0.3s ease-in-out forwards;
}

.fade-out-80 {
  animation: fade-out-80 0.5s ease-in-out forwards;
}
